html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 120vh;
    /* makes the page minimum 100% of the viewport height */
    background-color: rgb(240, 240, 240);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

.header {
    background-color: #3a475b;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#header-buttons-left{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
#header-buttons-right{
    flex-grow: 5;
    height: 100%;
    display: flex;
    justify-content: right;
}


.header-button{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10vw;
    min-width: 137px;
    text-decoration: none; 
    font-size: 1.5rem;
}
.header-button:hover{
    background-color: rgb(81, 143, 146);
}

.logo-button
.logo-button-landing{
    margin-left: 10px;
}
.header-button:active{
    color: black;
}
.logo-button:hover{
    background-color: rgb(81, 143, 146);
}

#header-button-active{
    color: rgb(107, 187, 191);
}

.logo{
    margin-left: 17px;
    margin-right: 17px;
}
.logo img {
    top: -25px;
    width: 175px;
    padding: 10px;
    border-radius: 15px;
}
.navbar-right {
    margin-left: auto !important;
    width: 15vw;
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3vw;
}

.banner {
    width: 100%;
    height: 25vh;
    width: 100vw;
    color: rgb(0, 0, 0);
    margin-top: 7vh;
    text-align: center;
    margin-bottom: 7vh;
}

.information-box {
    position: relative;
    width: 20rem;
    margin: 0 1rem;
    height: 22rem;
    background-color: rgb(147, 170, 165);
    border-radius: 1vh;
}
.services {
    text-align: center;
    padding: 1em;
}

.services ul li {
    list-style: none;
    margin: 1em;
}

.hovedbilde {
    display: flex;
    height: 20rem;
    width: 30rem;
    justify-content: center;
    overflow: hidden;
    margin: 4vh 2rem;
    border-radius: 1vh;
}

.review {
    color: rgb(73, 65, 65);
    font-size: 95%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 3rem;
}

.review-box {
    position: relative;
    width: 20rem;
    height: 30rem;
    background-color: rgb(171, 226, 213);
    border-radius: 1vh;
    overflow-y: scroll;
    text-align: center;
    margin-bottom: 10vh;
}


/* Membership, login, register */
.infobox-wrapper {
    color: white;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(118, 86, 101);
    border-radius: 6px;
    text-align: center;
}

.infobox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.infobox-wrapper h1{padding: 1rem 0;}

.infopanel {
    margin: 1rem;
    width: 20rem;
    height: 30rem;
    color: black;
    border-radius: 12px;
    padding: 1rem 0;
    background-color: rgb(248, 219, 232);
    transition: 0.3s;
}

.infopanel h2 {
    font-size: 30px;
    padding: 0.5rem 0;
}

.infopanel p {
    margin: 1em;
    padding: 1rem 0.5rem;
    border-radius: 12px;
    background-color: rgb(218, 189, 204);
}

.infopanel:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.skjema {
    color: white;
    margin: 2rem 3rem;
    padding: 1rem;
    background-color: darkslategray;
    border-radius: 6px;
    align-items: center;
}

.skjema label {
    font-size: 1.3rem;
}

/* Removes arrows on number input for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Does the same for Firefox */
input[type=number] {
    appearance: textfield;
}

input {
    width: 100%;
}

input[type=text],
input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: rgb(37, 138, 86);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 4px;
}

/* About Us */

.a-top{
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(81, 143, 146);
    width: 100%;
    padding: 40px 0 40px 0;
    height: 46.4px;
    display: flex;
}

.a-box{
    align-items: center;
    width: 100%;
    height: 350px;
    display: flex;
}
#a-box1{
    background-color: green; 
}
#a-box2{
    background-color: lime;
}
#a-box3{
    justify-content: center;
    font-family: Lato, sans-serif;
    font-size: 95%;
    line-height: 1.5;
    background-image: url(https://f.hubspotusercontent10.net/hubfs/8320410/Open%20office-1.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100%;
    background-position: 0%;
    height: 100%;
}

.a-box-image{
    height: 100%;
    width: 45%;
    background-color: rgb(240, 240, 240);
    overflow: hidden;
    
}
.a-box-text{
    font-family: Arial, sans-serif;
    font-size: 95%;
    line-height: 1.5;
    display: flex;
    align-items: center;
    width: 55%;
    height: 100%;
    background-color: rgb(240, 240, 240);
}

@media (max-width: 950px){
    .a-box-text{
        overflow-y: scroll;
    }
}

.a-text{
    padding: 10%;
}

.a-img{
    width: 100%;
    height: 100%;
}

#a-img1{
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,0.1), transparent);
     mask-image: linear-gradient(to left, rgba(0,0,0,10), transparent);
}
#a-img2{
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0.1), transparent);
     mask-image: linear-gradient(to right, rgba(0,0,0,10), transparent);
}


#a-text3{
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(255,255,255,0.90);
}

#a-text3 p{
    margin-top: 30px;
    padding-right: 20%;
    padding-left: 20%;
    font-family: Lato, sans-serif;
    font-size: 22px;
    line-height: 1.5;
    text-shadow: 0px 0px 10px white;
}

#a-p{
    font-size: 16px;
}


/* footer */ 

.a-footer{
    height: 37rem;
    width: 100%;
    background-color: rgb(195, 195, 195);
    padding-top: 10px;
}
#a-contact{
    display: flex;
    justify-content: space-between;
}
.a-footer-boxes{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.a-footer-box{
    width: 300px;
    line-height: 1.75;
    font-family: Calibri;
    font-size: 25px;
    margin: 50px 35px 40px 10px;
    padding-bottom: 8vh;
    display: flex;
}
@media (max-width: 500px) {
    .a-footer-box{
        font-size: 20px;
    }
}

.a-footer-header{
    position: absolute;
    text-align: center;
    height: 17vh;
}

.a-footer-box-contact{
    margin-top: 10vh;
    width: 10rem;
    margin-right: 3vw;
}

.a-footer-box h2 {
    text-align: center;

}

.a-box-account{
    margin-top: 10vh;
}

.a-media{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.a-media-account{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
