html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 120vh;
    /* makes the page minimum 100% of the viewport height */
    background-color: rgb(240, 240, 240);
}

h1 {
    font-family: helvetica, sans-serif;
    font-size: 40px;
}

h2 {
    font-family: helvetica, sans-serif;
    font-size: 25px;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: helvetica, serif;
}

.header {
    background-color: lightgrey;
    color: white;
    padding: 10px;
    text-align: left;
    height: 120px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img {
    position: relative;
    top: -20px;
    width: 200px;
    border-radius: 4px;
}

.header ul {
    display: flex;
    align-items: center;
    width: 95vw;
    margin: 20px 0 30px;
    font-size: 20px;
}

.header ul li {
    list-style: none;
    margin: 0 15px;
    cursor: pointer;
}

.header ul li a {
    text-decoration: none;
    color: rgb(55, 56, 45);
    width: 5vw;
    height: 100%;
}

.header ul li a:hover {
    color: rgb(6, 204, 243);
}

.header ul li.active,
.header ul li.active:hover .active {
    cursor: default;
    color: rgb(57, 171, 194) !important;
}

.navbar-right {
    margin-left: auto !important;
    width: 15vw;
    display: flex;
}
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3vw;
}

.banner {
    width: 100%;
    height: 25vh;
    width: 100vw;
    color: rgb(0, 0, 0);
    margin-top: 7vh;
    text-align: center;
    margin-bottom: 7vh;
}

.information-box {
    position: relative;
    width: 20rem;
    margin: 0 1rem;
    height: 22rem;
    background-color: rgb(147, 170, 165);
    border-radius: 1vh;
}
.services {
    text-align: center;
    padding: 1em;
}

.services ul li {
    list-style: none;
    margin: 1em;
}

.hovedbilde {
    display: flex;
    height: 20rem;
    width: 30rem;
    justify-content: center;
    overflow: hidden;
    margin: 4vh 2rem;
    border-radius: 1vh;
}

.review {
    color: rgb(73, 65, 65);
    font-size: 95%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh;
}

.review-box {
    position: relative;
    width: 20rem;
    height: 30rem;
    background-color: rgb(171, 226, 213);
    border-radius: 1vh;
    margin: 0 1rem;
    overflow-y: scroll;
}

.locations-wrapper {
    width: 100%;
    height: 6vh;
    margin: 0 0;
    border-bottom: 0.5vh solid rgb(0, 0, 0);
    text-align: center;
    margin: 10vh 0;
}

.locations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 60vh;
    font-size: 2vh;
    cursor: default;
    padding-top: 4.5vh;
    text-align: center;
    font-size: medium;
}

.building {
    width: 30rem;
    margin-bottom: 2rem;
}

.footer {
    align-content: baseline;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: lightgray;
    color: black;
    font-size: 2vh;
}

/* Membership, login, register */
.infobox-wrapper {
    color: white;
    margin: 2rem;
    padding: 1rem;
    background-color: rgb(118, 86, 101);
    border-radius: 6px;
    text-align: center;
}

.infobox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.infopanel {
    margin: 1rem;
    width: 370px;
    height: 30rem;
    background-color: white;
    color: black;
    border-radius: 12px;
    padding: 0.5rem;
    background-image: linear-gradient(to bottom right, rgb(230, 220, 220), rgb(202, 196, 196));
    transition: 0.3s;
}

.infopanel p {
    padding: 1rem;
    border: solid 0.1rem black;
}

.infopanel:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.skjema {
    color: white;
    margin: 2rem 3rem;
    padding: 1rem;
    background-color: darkslategray;
    border-radius: 6px;
    align-items: center;
}

.skjema * {
    font-family: Arial, Helvetica, sans-serif;
}

.skjema label {
    font-size: 1.3rem;
}

/* Removes arrows on number input for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Does the same for Firefox */
input[type=number] {
    appearance: textfield;
}

input {
    width: 100%;
}

input[type=text],
input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: rgb(37, 138, 86);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 4px;
}

/* About Us */

.a-top{
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 190, 190);
    width: 100%;
    padding: 40px 0 40px 0;
    height: 150px;
    display: flex;
}

.a-box{
    align-items: center;
    width: 100%;
    height: 350px;
    display: flex;
}
#a-box1{
    background-color: green; 
}
#a-box2{
    background-color: lime;
}
#a-box3{
    justify-content: center;
    font-family: Lato, sans-serif;
    font-size: 95%;
    line-height: 1.5;
    background-image: url(https://f.hubspotusercontent10.net/hubfs/8320410/Open%20office-1.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100%;
    background-position: 0%;
    height: 100%;
}

.a-box-image{
    height: 100%;
    width: 45%;
    background-color: rgb(230, 230, 230);
    overflow: hidden;
    
}
.a-box-text{
    font-family: Arial, sans-serif;
    font-size: 95%;
    line-height: 1.5;
    display: flex;
    align-items: center;
    width: 55%;
    height: 100%;
    background-color: rgb(230, 230, 230);
}
.a-text{
    padding: 10%;
}

.a-bottom{
    height: 300px;
    width: 100%;
    background-color: rgb(195, 195, 195);
    padding-top: 10px;
}
.a-bottom-headers{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.a-bottom-boxes{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.a-bottom-box{
    line-height: 1.75;
    font-family: Calibri;
    font-size: 25px;
    margin-top: 20px;
    display: flex;
    height: 100%;
    padding-bottom: 60px;
}
.a-bottom-box-media{
    width: 45%;
    padding-right: 30%;
}
.a-bottom-box-account{
    width: 55%;
}

#a-follow{
    margin-right: 35px;
}
.a-img{
    width: 100%;
    height: 100%;
}

#a-img1{
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,0.1), transparent);
     mask-image: linear-gradient(to left, rgba(0,0,0,10), transparent);
}
#a-img2{
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0.1), transparent);
     mask-image: linear-gradient(to right, rgba(0,0,0,10), transparent);
}


#a-text3{
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(255,255,255,0.90);
}

#a-text3 p{
    margin-top: 30px;
    padding-right: 20%;
    padding-left: 20%;
    font-family: Lato, sans-serif;
    font-size: 22px;
    line-height: 1.5;
    text-shadow: 0px 0px 10px white;
}

#a-p{
    font-size: 16px;
}